apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml

images:
  - name: PLACEHOLDER_ECR_URI
    newName: 123456789012.dkr.ecr.us-west-2.amazonaws.com/gokul-demo
    newTag: 09eafc0-20260217080616

commonLabels:
  app: gokul-demo
  tenant: opsera
