apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gokul-s-delight-ui-dev
  namespace: argocd
  labels:
    tenant: opsera
    app: gokul-s-delight-ui
    environment: dev
spec:
  project: default
  source:
    repoURL: https://github.com/opsera-test-org/gokul-s-delight-ui.git
    targetRevision: main
    path: .opsera-gokul-s-delight-ui/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-gokul-s-delight-ui-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
