apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gokul-demo-dev
  namespace: argocd
  labels:
    app: gokul-demo
    tenant: opsera
    environment: dev
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/opsera-test-org/gokul-s-delight-ui.git
    targetRevision: main
    path: .opsera-gokul-demo/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-gokul-demo-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 3
